<!DOCTYPE html>
<html>

<head>
    <script src="../0Scripts/angular.js"></script>
    <script src="services.js"></script>
</head>

<body>
    <h1>AngularJS Services</h1>
    <div ng-app="myApp" ng-controller="myCtrl">
        <p>Example of Location Service:</p>
        <h3>{{URL}}</h3>
        <p>Example of Timeout Service:</p>
        <h3>{{myHeader}}</h3>
        <p>Example of Interval Service:</p>
        <h3>{{theTime}}</h3>
        <br>
        <h2>Creating Custom Service</h2>
        <table>
            <tr>
                <td>Enter your string</td>
                <td><input type="text" ng-model="input"></td>
            </tr>
            <tr>
                <td>Result</td>
                <td><input type="text" ng-model="output"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="button" ng-click="transformString(input)" value="Process the string"></td>
            </tr>
        </table>
    </div>
</body>

</html>