<!DOCTYPE html>
<html>

<head>
    <script src="../Scripts/angular.js"></script>
    <script src="databinding.js"></script>

    <style>
        /* input.ng-empty {
            background-color: aqua;
        } */

        input.ng-invalid {
            background-color: lightblue;
        }

        input.ng-not-empty {
            background-color: cadetblue;
        }
    </style>
</head>

<body>
    <h1> AngularJS Model - ng-model</h1>
    <div ng-app="myApp" ng-controller="myCtrl">
        <form name="myForm" ng-init="myText='sahiba@gmail.com'">
            <!-- Email: <input type="email" name="myAddress" ng-model="text"> -->
            Email: <input type="email" name="myAddress" ng-model="myText" required>
            <span ng-show="myForm.myAddress.$error.email"> Not a Valid Email Address</span>
            <h2>Status</h2>
            <p>Valid: {{myForm.myAddress.$valid}}</p>
            <p>Dirty: {{myForm.myAddress.$dirty}}</p>
            <p>Touched: {{myForm.myAddress.$touched}}</p>
        </form>
        <br>
        <h2> Example of Data Binding </h2>
        <table>
            <tr>
                <td>First Name</td>
                <td>
                    <input type="text" ng-model="student.firstName">
                </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>
                    <input type="text" ng-model="student.lastName">
                </td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    <input type="text" ng-model="student.gender">
                </td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <td>First Name</td>
                <td>
                    {{student.firstName}}
                </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>
                    {{student.lastName}}
                </td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    {{student.gender}}
                </td>
            </tr>
        </table>
    </div>
</body>

</html>